[submodule "vim/pack/bundle/start/fzf"]
	path = vim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/bundle/start/gruvbox"]
	path = vim/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/bundle/start/ale"]
	path = vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/bundle/start/vim-buftabline"]
	path = vim/pack/bundle/start/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
